<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>要优雅的播放</title>
	<link rel="shortcut icon" href="./img/favicon.ico">
	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="./css/general.css">
	<link rel="stylesheet" href="./css/play.css">
	<link rel="stylesheet" href="./css/iconfont.css">
	<link rel="stylesheet" href="./css/animate.css">
</head>
<body>
	<script src="/js/emergency_msg.js"></script>
	<!-- show：出现   success ： 成功 -->
	<div id="info" class=" success">
		<div class="close iconfont icon-close"></div>
		<p></p>
		<a href="##">发送弹幕成功</a>
	</div>
<header>
	<div id="h_bg"></div>
	<div class="mask"></div>
	<div id="h_content">
		<div class="l">
			<div class="pic">
				<img src="./img/heimao1.png" alt="要优雅" title="不要优雅，要污!ε=ε=(ノ≧∇≦)ノ">
			</div>
			<div id="logo">
				<img src="./img/logo.png" alt="">
			</div>
		</div>
		<div class="r">
			<ul class="nav clearfix">
				<li>
					<a href="/main">主页</a>
					<div class="bar"></div>
				</li>
				<li>
					<a href="/techo">科技</a>
					<div class="bar"></div>
				</li>
				<li>
					<a href="/anime">动漫</a>
					<div class="bar"></div>
				</li>
				<li class="n-margin-r">
					<a href="/music">音乐</a>
					<div class="bar"></div>
				</li>
			</ul>
			<!-- 登录板块，登录：yes，未登录 no -->

			<% if (locals.status) { %>
				<div class="login_sec yes">
					<% } else { %>
						<div class="login_sec no">
							<% } %>

								<span>
									<a href="./login">登陆</a>
								</span>
								<span>|</span>
								<span>
									<a href="./reg">注册</a>
								</span>
								<li class="user">
									<a href="##">
										<div class="i_face">
											<img src="./img/user_img/<%- locals.tx %>">
										</div>
									</a>
									<div class="profile">
										<b class="name">
											<%- locals.name %>
										</b>
										<div class="user_status">
											<div class="l ">
												<span>身份：</span>
												<span class="status">
													<%- locals.status %>
												</span>
											</div>
											<div class="r ">
												<span>权限等级：</span>
												<span class="rights_level">Lv
													<%- locals.admin %>
												</span>
											</div>
										</div>
										<div class="lv_con">
											<span>等级：</span>
											<em>Lv9</em>
											<div class="lv_bar">
												<div class="process"></div>
												<span class="exp">888/999</span>
											</div>
										</div>
										<div class="selection">
											<a href="./userInfoModify">修改资料</a>
										</div>
										<div class="footer">
											<a href="./logout">退出</a>
										</div>
									</div>
								</li>
						</div>
				</div>
		</div>
	</div>
</header>

	<section id="main_bg">
		<a href="##">
			<div class="m">
				<span class="hint">你的名字</span>
			</div>
		</a>
		<div class="fade"></div>
	</section>
	<section id="view_con" class="clearfix">
		<div class="info">
			<div class="t">
				<h1><%- locals.data.a_title %></h1>
			</div>
			<div class="linkinfo">
				<a href="##">主页</a>
				>
				<a href="##"><%- locals.data.a_tags.split(',')[0] %></a>
				<% var t = locals.data.a_date;  %>
				<time><%- t.getFullYear() + '-' + (t.getMonth() + 1) + '-' + t.getDate() + ' ' + t.getHours() + ':' + t.getMinutes() %></time>
			</div>
			<div class="v_data clearfix">
				<div><i class="icon iconfont icon-play"></i><span><%- locals.data.a_views %></span></div>
				<div><i class="icon iconfont icon-icon1"></i><span class="danmu">loading...</span></div>
			</div>
		</div>
		<div id="uinfo">
			<div class="u_face">
				<a href="##">
					<img src="./img/lux.png" alt="">
				</a>
			</div>
			<div class="top clearfix">
				<div class="r_info">
					<div class="u_name"><a href="##">站长</a></div>
				</div>
				<div class="rights" title="权限等级">
					<!-- 权限等级说明 -->
					<div class="desc"></div>
					<i class="icon iconfont icon-quanxian1"></i>
					<span class="blogger">博主</span>
				</div>
			</div>
			<div class="sign">QQ群 496537495   微博 @xxxx ，  合作请联系邮箱xxxxxxxx@qq.com</div>
			<div class="up_video_msg">
				<div>投稿 999</div>
			</div>
		</div>
	</section>
	<div class="player_wrp clearfix">
		<div class="main clearfix">
			<div class="video_con clearfix">
				<div class="hint"><a href="##"><font>我要报错(°∀°)ﾉ</font></a></div>
				<!-- video -->
				
				<video src="./video/<%- locals.data.a_link %>">
					您的浏览器不支持 video 标签。 
				</video>
				
				<!-- <iframe id="dp_iframe" src="/play/dplayer"  style="width: 860px;height: 570px;"></iframe> -->


				<div id="controls">
					<div class="con">
						<div class="btn play iconfont show">&#xe6de;</div>
						<div class="btn pause iconfont ">&#xe650;</div>
					</div>
					<div class="progressBar">
						<div class="currentTime"></div>
					</div>
					
					<div class="showTime">
						<span class="now">00:00</span>
						<span class="m"> | </span>
						<span class="total">00:00</span>
					</div>

					<div class="expand btn">
						<span class="iconfont">&#xe824;</span>
					</div>

					<div class="volume btn">
						<div class="volumeCon">
							<div class="v_bar">
								<div class="v_dot"></div>
							</div>
						</div>
						<span class="iconfont">
							&#xe63a;
						</span>
					</div>
					

					<div class="btn ban_dm" title="禁止弹幕">
						<span class="icon iconfont icon-jinzhidanmu"></span>
					</div>

				</div>

				<div id="senddm_con" class="clearfix">
					
					<% if (locals.status) { %>
						<div class="fun_box">
							
						</div>
						<div class="fun_box">
						
						</div>
						<div class="fn dm_font">
							<i class="icon iconfont icon-icon1"></i>
							<div class="con">
								<div class="type" fontSize = '2'>
									<span>字体：大</span>
									<span class="current">√</span>
								</div>
								<div class="type check" fontSize = '1'>
									<span>字体：中</span>
									<span class="current">√</span>
								</div>
								<div class="type" fontSize='0.5'>
									<span>字体：小</span>
									<span class="current">√</span>
								</div>
							</div>

						</div>
						<div class="fn dm_color">
							<i class="icon iconfont icon-color"></i>
							<div class="con">
								<div class="recommendColor">

									<div class="c check" innerColor="#ffffff">
										<span>√</span>
									</div>
									<div class="c" innerColor="#FE0302">
										<span>√</span>
									</div>
									<div class="c" innerColor="#FF7204">
										<span>√</span>
									</div>
									<div class="c" innerColor="#FFFF00">
										<span>√</span>
									</div>
									<div class="c" innerColor="#00CD00">
										<span>√</span>
									</div>
									<div class="c" innerColor="#4266BE">
										<span>√</span>
									</div>
									<div class="c" innerColor="#89D5FF">
										<span>√</span>
									</div>
									<div class="c" innerColor="#CC0273">
										<span>√</span>
									</div>
									<div class="c" innerColor="vip">
										<span>√</span>
									</div>

								</div>
							</div>
						</div>
						<input type="text" id="input_dm" maxlength="100" placeholder="你可以在这里输入弹幕吐槽哟~~" />
						<div class="send_bt">发送 ></div>

					<% } else { %>
						<div class="login_con">
							<div class="login_btn">
								<a class="a_login" href="/login">登录</a>
							</div>
							<span>只有登录后才能发送弹幕哟(～￣▽￣)～</span>
						</div>
					<% } %>
					
					
				</div>
				<div id="danmu">
					<!-- 各种消息  如弹幕加载功能 ，视频是否成功加载  hidden 消失-->
					<ul class="msg ">
						<!-- <li>测试</li>
						<li>弹幕加载成功弹幕加载成功弹幕加载成功</li> -->
					</ul>
					<div class="dm_info">
						<div class="font">
							<div class="t"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="danmu_con">
				
					<div class="player_info">
						一共
						<em></em>条弹幕
					</div>
					
					<div class="dm_t clearfix">
						<div class="time">时间</div>
						<div class="content">弹幕内容</div>
						<div class="date">发送时间</div> 
					</div>
					<ul class="dm_list">
						
					</ul>
					<!-- <div class="err"> <a id="dm_refresh" href="./dm_refresh">弹幕加载失败,点击重试</a></div> -->
				
			</div>
		</div>
	</div>

	<div class="videoSelections_wrp">
		<div class="main">
			<div class="lines clearfix">
				<div class="li current"><a href="##">
					默认路线
				</a></div>
			</div>
			<div class="series clearfix">
				<div class="li current">
					<a href="##">01</a>
				</div>
			</div>
		</div>
	</div>

	<div class="comment_wrp">
		<div class="main">
			<div class="l">
				<div class="c_num_h">
					<span id="cmNum" class="num"><%- locals.cm_num %></span>
					<span>条评论</span>
				</div>
				<div class="c_h clearfix">
					<ul class="clearfix">
						<li class="on">全部评论</li>
						<li>按热度搜索</li>
					</ul>
					<div class="pages_con clearfix">
						<span class="result">共<span id="totalPage"><%- Math.ceil(locals.cm_num/8) %></span>页</span>
						<span class="prev" style="display:none" >上一页</span>
						<span class="container" style="margin:0; transition:0;" >
							<span class="page current">1</span>
							
							<% var totalPage = Math.ceil(locals.cm_num/8); %>
							<% if (totalPage > 4) { %>
							<% for (var i = 1; i < totalPage; i++) { %>
								<span class="page"><%- i + 1  %></span>
							<% } %>
							<span class="dots">...</span>
							<span class="end page"><%- totalPage %></span>
							<span class="next page" onclick="nextPage()">下一页</span>
							<% } else { %>
								<% for (var i = 1; i < totalPage; i++) { %>
								<span class="page"><%- i + 1  %></span>
								<% } %>
							<% } %>

						</span>
					</div>
				</div>
				
				
				<!-- 未登录 no-login -->
					<% if(locals.status) { %>
						<div class="c_send clearfix ">
							<div class="user_face ">
								<img src="./img/user_img/<%= locals.tx %>" alt="用户头像">
							</div>
					<% } else { %>
						<div class="c_send clearfix no-login ">
							<div class="user_face ">
								<img src="./img/user_img/no_login.jpg" alt="未登录头像" title="未登录">
							</div>
					<% } %>

				
					
					<div class="textarea_con">
						<div class="baffle_wrp">
							<div class="baffle">
								请先<a class="btn a_login" href="/login">登录</a>后发表评论 (・ω・);
							</div>
						</div>
						<textarea name="" id="sendText" maxlength="210" cols="80" rows="5" placeholder="请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论。"></textarea>
						<button id="send_cm" class="send_comment" >发表评论</button>
					</div>
					<div class="c_emoji">
						<div class="emoji_btn">
							<i class="iconfont icon-smileo"></i>
							<span>表情</span>
						</div>
						<div class="emoji_box">
							<div class="emoji_t"><span>颜文字</span></div>
							<div class="emojis">
								<a class="emoji-list emoji-text" data-emoji-text="(⌒▽⌒)">(⌒▽⌒)</a>
								<a class="emoji-list emoji-text" data-emoji-text="（￣▽￣）">（￣▽￣）</a>
								<a class="emoji-list emoji-text" data-emoji-text="(=・ω・=)">(=・ω・=)</a>
								<a class="emoji-list emoji-text" data-emoji-text="(｀・ω・´)">(｀・ω・´)</a>
								<a class="emoji-list emoji-text" data-emoji-text="(〜￣△￣)〜">(〜￣△￣)〜</a>
								<a class="emoji-list emoji-text" data-emoji-text="(･∀･)">(･∀･)</a>
								<a class="emoji-list emoji-text" data-emoji-text="(°∀°)ﾉ">(°∀°)ﾉ</a>
								<a class="emoji-list emoji-text" data-emoji-text="(￣3￣)">(￣3￣)</a>
								<a class="emoji-list emoji-text" data-emoji-text="╮(￣▽￣)╭">╮(￣▽￣)╭</a>
								<a class="emoji-list emoji-text" data-emoji-text="( ´_ゝ｀)">( ´_ゝ｀)</a>
								<a class="emoji-list emoji-text" data-emoji-text="←_←">←_←</a>
								<a class="emoji-list emoji-text" data-emoji-text="→_→">→_→</a>
								<a class="emoji-list emoji-text" data-emoji-text="(<_<)">(&lt;_&lt;)</a>
								<a class="emoji-list emoji-text" data-emoji-text="(>_>)">(&gt;_&gt;)</a>
								<a class="emoji-list emoji-text" data-emoji-text="(;¬_¬)">(;¬_¬)</a>
								<a class="emoji-list emoji-text" data-emoji-text="(&quot;▔□▔)/">("▔□▔)/</a>
								<a class="emoji-list emoji-text" data-emoji-text="(ﾟДﾟ≡ﾟдﾟ)!?">(ﾟДﾟ≡ﾟдﾟ)!?</a>
								<a class="emoji-list emoji-text" data-emoji-text="Σ(ﾟдﾟ;)">Σ(ﾟдﾟ;)</a>
								<a class="emoji-list emoji-text" data-emoji-text="Σ( ￣□￣||)">Σ( ￣□￣||)</a>
								<a class="emoji-list emoji-text" data-emoji-text="(´；ω；`)">(´；ω；`)</a>
								<a class="emoji-list emoji-text" data-emoji-text="（/TДT)/">（/TДT)/</a>
								<a class="emoji-list emoji-text" data-emoji-text="(^・ω・^ )">(^・ω・^ )</a>
								<a class="emoji-list emoji-text" data-emoji-text="(｡･ω･｡)">(｡･ω･｡)</a>
								<a class="emoji-list emoji-text" data-emoji-text="(●￣(ｴ)￣●)">(●￣(ｴ)￣●)</a>
								<a class="emoji-list emoji-text" data-emoji-text="ε=ε=(ノ≧∇≦)ノ">ε=ε=(ノ≧∇≦)ノ</a>
								<a class="emoji-list emoji-text" data-emoji-text="(´･_･`)">(´･_･`)</a>
								<a class="emoji-list emoji-text" data-emoji-text="(-_-#)">(-_-#)</a>
								<a class="emoji-list emoji-text" data-emoji-text="（￣へ￣）">（￣へ￣）</a>
								<a class="emoji-list emoji-text" data-emoji-text="(￣ε(#￣) Σ">(￣ε(#￣) Σ</a>
								<a class="emoji-list emoji-text" data-emoji-text="ヽ(`Д´)ﾉ">ヽ(`Д´)ﾉ</a>
								<a class="emoji-list emoji-text" data-emoji-text="(╯°口°)╯(┴—┴">(╯°口°)╯(┴—┴</a>
								<a class="emoji-list emoji-text" data-emoji-text="（#-_-)┯━┯">（#-_-)┯━┯</a>
								<a class="emoji-list emoji-text" data-emoji-text="_(:3」∠)_">_(:3」∠)_</a>
								<a class="emoji-list emoji-text" data-emoji-text="(笑)">(笑)</a>
								<a class="emoji-list emoji-text" data-emoji-text="(汗)">(汗)</a>
								<a class="emoji-list emoji-text" data-emoji-text="(泣)">(泣)</a>
								<a class="emoji-list emoji-text" data-emoji-text="(苦笑)">(苦笑)</a>
							</div>
						</div>
					</div>
				</div>
				<iframe src="/play/get_cm?source=<%- locals.data.a_id %>&page=1" frameborder="0" style="width:100%;">
					
				</iframe>
				<!--  -->

			</div>
		</div>
	</div>
	<footer>
		powered by
		<a href="##">要优雅</a>
		๛ก(ｰωｰก)
	</footer>
</body>
</html>

<script>
	//版本检测出了点问题
	var high_version = null;  //检测兼容
	
	window.onload = function () {
		if (!high_version) {
			showMsg({
				msg : '你的浏览器不兼容当前网页，请使用新版本浏览器',
                status : 'err',
                link : 'https://browser.360.cn/ee/',
                delay : 9999999,
                detail : '点击此处跳转至360极速浏览器下载界面'
            })
        }
		iframe.style.height = (iframe.contentWindow.document.body.clientHeight) + 'px';
    }
</script>

<script src="./js/jqq.js"></script>

<script>
	let $emoji_btn = $(".c_emoji .emoji_btn"),
		$emojis = $(".c_emoji .emoji_box .emoji-text"),
		$textarea = $("#sendText"),
		$emoji_con = $(".c_emoji .emoji_box");
		
	$emoji_btn.click(function (params) {
		
		$emoji_con.toggleClass('show');
	})
	$emojis.click(function (params) {
		$textarea.val($textarea.val() + $(this)[0].textContent);
		$textarea.textValue = "asas";
		$emoji_con.removeClass("show");
	})
</script>
<!-- 原生播放插件 -->
<script src="./js/play.js"></script>  


<script>
	var high_version = true;
</script>

