<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>要优雅~</title>
	<title>要优雅~</title>
	<link rel="shortcut icon" href="./img/favicon.ico">
	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="./css/general.css">
	<link rel="stylesheet" href="./css/play.css">
	<link rel="stylesheet" href="./css/iconfont.css">
	<link rel="stylesheet" href="./css/animate.css">
</head>
<body>
<header>
    <div id="h_bg"></div>
    <div class="mask"></div>
    <div id="h_content">
        <div class="l">
            <div class="pic">
                <img src="./img/heimao1.png" alt="要优雅" title="不要优雅，要污!ε=ε=(ノ≧∇≦)ノ">
            </div>
            <div id="logo">
                <img src="./img/logo.png" alt="">
            </div>
        </div>
        <div class="r">
            <ul class="nav clearfix">
                <li>
                    <a href="/main">main</a>
                    <div class="bar"></div>
                </li>
                <li>
                    <a href="/techo">technology</a>
                    <div class="bar"></div>
                </li>
                <li>
                    <a href="##">anime</a>
                    <div class="bar"></div>
                </li>
                <li class="n-margin-r">
                    <a href="##">music</a>
                    <div class="bar"></div>
                </li>
            </ul>
            <!-- 登录板块，登录：yes，未登录 no -->
    <% if (locals.login) { %>
        <% if (locals.login.status) { %>
        <div class="login_sec yes">
        <% } else { %>
        <div class="login_sec no">
        <% } %>
        <% } else { %>
        <div class="login_sec no">
        <% } %>
            <span>
                <a href="./login">login</a>
            </span>
            <span>|</span>
            <span>
                <a href="./reg">register</a>
            </span>
            <li class="user">
                <% if (locals.login) {  %>
                <a href="##">
                    <div class="i_face">
                        <img src="./img/<%- locals.login.tx %>">
                    </div>
                </a>
                <div class="profile">
                    <b class="name"><%- locals.login.name %></b>
                    <div class="user_status">
                        <div class="l ">
                            <span>身份：</span>
                            <span class="status"><%- locals.login.status %></span>
                        </div>
                        <div class="r ">
                            <span>权限等级：</span>
                            <span class="rights_level">Lv<%- locals.login.admin %></span>
                        </div>
                    </div>
                    <div class="lv_con">
                        <span>等级：</span>
                        <em>Lv9</em>
                        <div class="lv_bar">
                            <div class="process"></div>
                            <span class="exp">888/999</span>
                        </div>
                    </div>
                    <div class="selection">
                        <a href="##">修改资料</a>
                    </div>
                    <div class="footer">
                        <a href="./logout">退出</a>
                    </div>
                </div>
                <% } %>
            </li>
        </div>
        </div>
        </div>
    </div>
</header>
	<section id="main_bg">
		<a href="##">
			<div class="m">
				<span class="hint">你的名字</span>
			</div>
		</a>
	</section>
	<section id="view_con" class="clearfix">
		<div class="info">
			<div class="t">
				<h1><%- locals.data.a_title %></h1>
			</div>
			<div class="linkinfo">
				<a href="##">主页</a>
				>
				<a href="##"><%- locals.data.a_tags.split(',')[0] %></a>
				<% var t = locals.data.a_date;  %>
				<time><%- t.getFullYear() + '-' + t.getMonth() + '-' + t.getDay() + ' ' + t.getHours() + ':' + t.getMinutes() %></time>
			</div>
			<div class="v_data clearfix">
				<div><i class="icon iconfont icon-play"></i><span><%- locals.data.a_views %></span></div>
				<div><i class="icon iconfont icon-icon1"></i><span class="danmu">loading...</span></div>
			</div>
		</div>
		<div id="uinfo">
			<div class="u_face">
				<a href="##">
					<img src="./img/lux.png" alt="">
				</a>
			</div>
			<div class="top clearfix">
				<div class="r_info">
					<div class="u_name"><a href="##">要优雅</a></div>
				</div>
				<div class="rights" title="权限等级">
					<!-- 权限等级说明 -->
					<div class="desc"></div>
					<i class="icon iconfont icon-quanxian1"></i>
					<span class="blogger">博主</span>
				</div>
			</div>
			<div class="sign">QQ群 496537495   微博 @xxxx ，  合作请联系邮箱xxxxxxxx@qq.com</div>
			<div class="up_video_msg">
				<div>投稿 999</div>
			</div>
		</div>
	</section>
	<div class="player_wrp clearfix">
		<div class="main clearfix">
			<div class="video_con clearfix">
				<div class="hint"><a href="##"><font>我要报错(°∀°)ﾉ</font></a></div>
				<!-- video -->
				<video src="./video/wanderers.mp4" controls="controls">
					您的浏览器不支持 video 标签。
				</video>
				<div id="senddm_con" class="clearfix">
					
					<% if (locals.login) { %>
						<% if (locals.login.status) { %>
							<div class="fun_box">
							
							</div>
							<div class="fun_box">
							
							</div>
							<div class="fn dm_font">
								<i class="icon iconfont icon-icon1"></i>
							</div>
							<div class="fn dm_color">
								<i class="icon iconfont icon-color"></i>
							</div>
							<input type="text" id="input_dm" maxlength="100" placeholder="你可以在这里输入弹幕吐槽哟~~" />
							<div class="send_bt">发送 ></div>
							<div class="ban_dm" title="禁止弹幕">
								<i class="icon iconfont icon-jinzhidanmu"></i>
							</div>
						<% } else { %>
							<div class="login_con">
								<div class="login_btn">
									<a href="/login">登录</a>
								</div>
								<span>只有登录后才能发送弹幕哟(～￣▽￣)～</span>
							</div>
						<% } %>
					<% } else {  %>
						<div class="login_con">
							<div class="login_btn">
								<a href="/login">登录</a>
							</div>
							<span>只有登录后才能发送弹幕哟(～￣▽￣)～</span>
						</div>
					<% } %>
					
				</div>
				<div id="danmu">
					<!-- 各种消息  如弹幕加载功能 ，视频是否成功加载  hidden 消失-->
					<ul class="msg ">
						<!-- <li>测试</li>
						<li>弹幕加载成功弹幕加载成功弹幕加载成功</li> -->
					</ul>
					<div class="dm_info">
						<div class="font">
							<div class="t"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="danmu_con">
				
					<div class="player_info">
						一共
						<em></em>条弹幕
					</div>
					
					<div class="dm_t clearfix">
						<div class="time">时间</div>
						<div class="content">弹幕内容</div>
						<div class="date">发送时间</div> 
					</div>
					<ul class="dm_list">
						
					</ul>
					<!-- <div class="err"> <a id="dm_refresh" href="./dm_refresh">弹幕加载失败,点击重试</a></div> -->
				
			</div>
		</div>
	</div>
	<div class="comment_wrp">
		<div class="main">
			<div class="l">
				<div class="c_num_h">
					<span class="num">20</span>
					<span>条评论</span>
				</div>
				<div class="c_h clearfix">
					<ul class="clearfix">
						<li class="on">全部评论</li>
						<li>按热度搜索</li>
					</ul>
				</div>
				<div class="pages_con clearfix">
					<span class="result">共100页</span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
	</div>
	<footer>
		要优雅~ (゜-゜)つロ 干杯~ powered by
		<a href="##">要优雅</a>
	</footer>
</body>
</html>
<script src="./js/jqq.js"></script>
<script>

	let $danmuScreen = $("#danmu"),
		screenW = $danmuScreen.width(),
		screenH = $danmuScreen.height(),
		video = document.querySelector('video'),
		gdms = [],  //存放弹幕数组
		$dmNum2 = $('#view_con > div.info > div.v_data > div:nth-child(2) > span'), //视频名称下面的弹幕数量
		$dmNum = $('div.danmu_con > div.player_info > em'),  //弹幕数量
		$dm_list = $('ul.dm_list'),
		beaginH = parseFloat(screenH) * 0.9,  //起始随机高度区域
		$sendBt = $('.send_bt'),  //发送弹幕按钮
		$banBt = $('.ban_dm'),  //测试按钮
		sendFlag = true,
		videoPause = true,
	    pause = true;  //弹幕暂停 flag


		/*  API
			video_con  视频继续播放
			video_pause  视频暂停播放
			sendDm(span)  发送弹幕  参数：spanElement object
			wait()  发送弹幕后等待 五秒钟才能继续发送
			crt_dm_record(dm_obj)  添加弹幕对象到右边弹幕列表
			dm_load(dm_arr)  加载弹幕渲染页面 并将所有弹幕对象填充到dm_arr数组
			time_format(time)  将时间改成 mm:ss 格式并返回
			video_progress_listener()  //监听视频当前播放时间定时器结合发送弹幕功能
			vpl_flag  //变量 监听 视频播放定时器flag （防止多个定时器）
		*/


	$banBt.click(function (params) {  //禁止弹幕按钮
		if ($(this).hasClass('ban')) {
			$danmuScreen.removeClass('hidden')
			$(this).removeClass('ban');
		} else {
			$danmuScreen.addClass('hidden')
			$(this).addClass('ban');
		}
	})

	$('#input_dm').bind('keyup', function (e) {   //回车发送弹幕
		if (e.keyCode == '13') {
			if (sendFlag)
				$sendBt.click();
		}
	})

	

	$sendBt.bind('click', function () {  //点击按钮发送弹幕
		if (sendFlag) {
			let danmu = $('#input_dm').val();
			$('#input_dm').val('');
			let span = document.createElement('span'),
				flag = true;  //防止用户多次点击
				span.className = 'user';
			if (flag) {
				flag = false;
				Ajax({
					url: '/play/dm',
					method: 'post',
					data: {
						content : danmu,
						crt_time : time_format(video.currentTime.toFixed(0)),
						type : 'random',
						color : '#fff',
						size : '1'
					},
					success: function (params) {
						let data = JSON.parse(params);
						console.log(data);
						if (data.err) {  //发送失败
							console.log(data.info)
						} else {
							span.textContent = danmu;
							span.d_id = data.d_id;
							console.log(data.d_id);
							sendDm(span);
						}
						flag = true;
					},
					error: function (err) {
						console.log(err);
						flag = true;
					}
				})
			}
			wait();  //等五秒后才能发送
		}
	})

	
	
	function con_pause () {  //暂停或者 继续
		if (!pause) {
			video_pause();
		} else {
			video_con();
		}
	}


	function video_con () {  // 视频继续
		pause = false;
		let spanArr = $danmuScreen[0].querySelectorAll('span');
		
		// 弹幕 滚动
		for (let i = 0; i <= spanArr.length - 1; i++) {
			console.log(spanArr[i])
			spanArr[i].timer();
		}
	}

	
	function video_pause () {  //视频暂停API
		pause = true;
	}
	

	function sendDm (dm_ele) {  //发送弹幕
		let This = dm_ele;
		$danmuScreen[0].appendChild(This);
		let  $dm = $(This);
		This.width = $dm.width();
		This.left = screenW + 5;
		// 保证每一个弹幕从开始到尾部离开屏幕的时间一样  越长的弹幕速度越快
		This.speed = (This.width + screenW)/6500 * 13;
		$dm.css({
			'left' : This.left,
			'top' : Math.random() * beaginH
		})
		This.clear = false;
		This.timer = function () {
			setTimeout(function () {
				if (!pause) {
					if (This.clear) {  // 是否到达了 需要清除弹幕的时候
						This.timer = null;
						This.parentNode.removeChild(This);
					} else {
						This.left -= This.speed;
						$dm.css({'left' :  This.left});
						if (This.left < (This.width + 6 ) * -1)
							This.clear = true;
						This.timer();
					}
				}
			},13)
		}
		This.timer();
		dm_load(gdms);
	}


	// 等待五秒钟才能发弹幕
	function wait (i) {
		let num;
		if (arguments.length === 0) {
			num = 0;
		} else {
			num = i;
		}
		if (num === 0) {
			sendFlag = false;
			$sendBt.addClass('ban');
			$sendBt.html('5s');
		}
		if (num < 5) {
			num ++;
			setTimeout( function(){
				$sendBt.html( (5-num) +'s')
				wait(num);
			},1000)
		} else {
			sendFlag = true;
			$sendBt.removeClass('ban');
			$sendBt.html('发送');
		}
	}

	function crt_dm_record (obj) {  //增加弹幕记录到弹幕列表
		/*obj 
			userId			
			date 
			content
			time
			dmId
		*/
		let oLi = document.createElement('li'),
			oDm_time = document.createElement('span'),
			oDm_content = document.createElement('span'),  //弹幕内容
			oDm_date = document.createElement('span'),
			t = new Date(obj.date),  //时间  
			oDelete = document.createElement('div');  //删除弹幕按钮
		oDm_time.className = 'dm_time';
		oDm_content.className = 'dm_content';
		oDm_date.className = 'dm_date';
		oDelete.className = 'btn';
		oLi.setAttribute('user', obj.userId);
		oLi.setAttribute('dm_id', obj.dmId);
		oDm_time.innerHTML = obj.time;
		oDm_content.innerHTML = obj.content;
		oDm_date.innerHTML = (t.getMonth() + 1) + '-' + t.getDay() + ' ' + t.getHours() + ':' + t.getMinutes();
		oDelete.innerHTML = '删除弹幕';
		oDelete.onclick = function () {
			Ajax({
				url: 'play/d_dm',
				method : 'post',
				data : {
					id : $(this).parent()[0].getAttribute('dm_id')
				},
				success : function (data) {
					var jData = JSON.parse(data); // err : 0 成功   err : 1 失败
					if (!jData.err) {  //成功
						console.log($(this).parent())
						dm_load(gdms)
					} else {
						alert(jData.info)
					}
				},
				error : function () {
					console.log('ajax err')
				}
			})
		}


		oLi.appendChild(oDm_time);
		oLi.appendChild(oDm_content);
		oLi.appendChild(oDm_date);
		oLi.appendChild(oDelete);
		$dm_list[0].appendChild(oLi);
	}
	
	function dm_load (arr) {  //加载弹幕 存放在传入的 arr里面并刷新弹幕列表
		$dm_list.empty();
		Ajax({
			url : './play/get_dm',
			method : 'post',
			success : function (data) {
				let jData = JSON.parse (data);
				if (!jData.err) {  //弹幕加载成功
					let dms = jData['info'];
					
					$dmNum.html(dms.length);   //渲染弹幕数量
					$dmNum2.html(dms.length);
					for(var i in dms) {
						arr[i] = dms[i];  //将弹幕存储在 全局弹幕数组
						crt_dm_record({  //添加弹幕记录
							content : dms[i].d_content,
							date : dms[i].d_sendTime,
							time : dms[i].d_time,
							dmId : dms[i].d_id,
							userId : dms[i].d_userId
						})
					}
					console.log(dms[0])
					//加载成功后 渲染页面

				} else {
					console.log('弹幕加载失败');
					return null;
				}
				return arr;
			},
			error : function () {
				console.log('弹幕ajax加载失败错误-')
			}
		})
	}

	dm_load(gdms);
	
	function time_format (t) {  
		//整理时间 格式 将 0:23 处理成  00:23  
		//或者可以将 秒钟数处理成 分秒格式
		if (isNaN(Number(t))) {
			var arr = t.split(':');
			time_format(Number(arr[0])*60 + Number(arr[1]));
		} else {
			let m = parseInt(t/60),
				s = t % 60;
			if (m.toString().length === 1)
				m = '0' + m;
			if (s.toString().length === 1) 
				s = '0' + s;
			return (m + ':' + s);			
		};
	}


	// Array.prototype.has = function (arr_obj,val) {  //遍历数组 并判断数组对象是否存在一个满足表达式
		
	// 	let flag = false;
	// 	for(let i = 0; i < arr_obj.length)
	// }

	
	function video_progress_listener (e) {  //监听视频当前播放时间定时器结合发送弹幕功能
		setTimeout(() => {
			if (!pause) {
				let t = time_format(video.currentTime.toFixed(0));
				for (let i = 0; i < gdms.length; i++) {
					if (gdms[i].d_time === t) {
						let crt_dms = $danmuScreen[0].querySelectorAll('span'), //当前视频存在的弹幕;
							exist = false;  //是否存在当前弹幕已经发送
							for (let i = 0; i < crt_dms.length; i++) {

								const element = crt_dms[i];
								if (element.d_id == gdms[i].d_id) {
									console.log('exist');
									exist = true;
									break;
								}
							};
						if (!exist) {
							let oSpan = document.createElement('span');
							oSpan.textContent = gdms[i].d_content;
							oSpan.d_id = gdms[i].d_id;
							sendDm(oSpan);
						}
						
					}
				}
			}
			video_progress_listener();
		}, 1000);
	}
	
	video_progress_listener();
	
	// video  绑定事件
	video.onprogress = function (e) {  //
			// console.log(e)
	}
	video.onpause = video_pause;
	video.onplay = video_con;
</script>