<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>要优雅~</title>
	<title>要优雅~</title>
	<link rel="shortcut icon" href="./img/favicon.ico">
	<link rel="stylesheet" href="./css/reset.css">
	<!-- <link rel="stylesheet" href="./css/general.css"> -->
	<link rel="stylesheet" href="./css/header.css">
	<link rel="stylesheet" href="./css/play.css">
	<link rel="stylesheet" href="./css/iconfont.css">
	<link rel="stylesheet" href="./css/animate.css">
</head>
<body>
	<header>
		<div id="h_bg"></div>
		<div class="mask"></div>
		<div id="h_content">
			<div class="l">
				<div class="pic">
					<img src="./img/heimao1.png" alt="要优雅" title="不要优雅，要污!ε=ε=(ノ≧∇≦)ノ">
				</div>
				<div id="logo">
					<img src="./img/logo.png" alt="">
				</div>
			</div>
			<div class="r">
				<ul class="nav clearfix">
					<li>
						<a href="##">main</a>
					</li>
					<li>
						<a href="##">technology</a>
					</li>
					<li>
						<a href="##">anime</a>
					</li>
					<li class="n-margin-r">
						<a href="##">music</a>
					</li>
					<li class="slide_bar"></li>
				</ul>
				<!-- 登录板块，登录：yes，未登录 no -->
				<% if (locals.login) { %>
					<% if (locals.login.status) { %>
						<div class="login_sec yes">
							<% } else { %>
								<div class="login_sec no">
									<% } %>
										<% } else { %>
											<div class="login_sec no">
												<% } %>
													<span>
														<a href="./login">login</a>
													</span>
													<span>|</span>
													<span>
														<a href="./reg">register</a>
													</span>
													<li class="user">
														<a href="##">
															<div class="i_face">
																<img src="./img/lux.png" alt="站长~">
															</div>
														</a>
														<div class="profile">
															<b class="name">小朋友你很皮哦小朋友你很皮哦小炮</b>
															<div class="user_status">
																<div class="l ">
																	<span>身份：</span>
																	<span class="status">站长</span>
																</div>
																<div class="r ">
																	<span>权限等级：</span>
																	<span class="rights_level">Lv3</span>
																</div>
															</div>
															<div class="lv_con">
																<span>等级：</span>
																<em>Lv9</em>
																<div class="lv_bar">
																	<div class="process"></div>
																	<span class="exp">888/999</span>
																</div>
															</div>
															<div class="selection">
																<a href="##">修改资料</a>
															</div>
															<div class="footer">
																<a href="./logout">退出</a>
															</div>
														</div>
													</li>
											</div>
								</div>
						</div>
	</header>
	<section id="main_bg">
		<a href="##">
			<div class="m">
				<span class="hint">你的名字</span>
			</div>
		</a>
	</section>
	<section id="view_con" class="clearfix">
		<div class="info">
			<div class="t">
				<h1>你的名字 日语中字</h1>
			</div>
			<div class="linkinfo">
				<a href="##">主页</a>
				>
				<a href="##">动漫</a>
				<time>2017-11-01 23:07</time>
			</div>
			<div class="v_data clearfix">
				<div><i class="icon iconfont icon-play"></i><span>8.6k</span></div>
				<div><i class="icon iconfont icon-icon1"></i><span class="danmu">999</span></div>
			</div>
		</div>
		<div id="uinfo">
			<div class="u_face">
				<a href="##">
					<img src="./img/lux.png" alt="">
				</a>
			</div>
			<div class="top clearfix">
				<div class="r_info">
					
					<div class="u_name"><a href="##">要优雅</a></div>
				</div>
				<div class="rights" title="权限等级">
					<!-- 权限等级说明 -->
					<div class="desc"></div>
					<i class="icon iconfont icon-quanxian1"></i>
					<span class="blogger">博主</span>
				</div>
			</div>
			<div class="sign">QQ群 496537495   微博 @xxxx ，  合作请联系邮箱xxxxxxxx@qq.com</div>
			<div class="up_video_msg">
				<div>投稿 999</div>
			</div>
		</div>
	</section>
	<div class="player_wrp clearfix">
		<div class="main clearfix">
			<div class="video_con clearfix">
				<div class="hint"><a href="##"><font>我要报错(°∀°)ﾉ</font></a></div>
				<!-- video -->
				<video src="./video/wanderers.mp4" controls="controls">
					您的浏览器不支持 video 标签。
				</video>
				<div id="senddm_con" class="clearfix">
					<div class="fun_box">

					</div>
					<div class="fun_box">

					</div>
					<div class="fn dm_font"><i class="icon iconfont icon-icon1"></i></div>
					<div class="fn dm_color"><i class="icon iconfont icon-color"></i></div>
					<input type="text" id="input_dm" maxlength="100" placeholder="你可以在这里输入弹幕吐槽哟~~" />
					<div class="send_bt">发送 ></div>
					<div class="ban_dm" style="background: red;"></div>
				</div>
				<div id="danmu">
					<!-- 各种消息  如弹幕加载功能 ，视频是否成功加载  hidden 消失-->
					<ul class="msg ">
						<!-- <li>测试</li>
						<li>弹幕加载成功弹幕加载成功弹幕加载成功</li> -->
					</ul>
					<div class="dm_info">
						<div class="font">
							<div class="t"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="danmu_con">
				<%  if (locals.dm_load) { %>
					<div class="player_info">
						一共
						<em><%- locals.dm.length %></em>条弹幕
					</div>
					
					<div class="dm_t clearfix">
						<div class="time">时间</div>
						<div class="content">弹幕内容</div>
						<div class="date">发送时间</div> 
					</div>
					<ul class="dm_list">
						<% for (let i = 0; i < locals.dm.length ; i++) { %>
							<li user='<%- locals.dm[i].d_userId %>' id= '<%- locals.dm[i].d_id %>'> 
								<span class="dm_time"><%- locals.dm[i].d_time %></span>
								<span class="dm_content"><%- locals.dm[i].d_content %></span>
								<% var t = locals.dm[i].d_sendTime %> 
								<span class="dm_date"><%- (t.getMonth() + 1) + '-' + t.getDay() + ' ' + t.getHours() + ':' + t.getMinutes() %></span>
								<div class="btn">删除弹幕</div>
							</li>
						<% } %>
					</ul>
				<% } else { %>
				<% console.log(locals.dm_load) %>
					<div class="err"> <a id="dm_refresh" href="./dm_refresh">弹幕加载失败,点击重试</a></div>
				<% } %>
				
			</div>
		</div>
	</div>
</body>
</html>
<script src="./js/jqq.js"></script>
<script>

	let $danmuScreen = $("#danmu"),
		screenW = $danmuScreen.width(),
		screenH = $danmuScreen.height(),
		video = document.querySelector('video'),
		dms = [],  //存放弹幕数组
		beaginH = parseFloat(screenH) * 0.9,  //起始随机高度区域
		$sendBt = $('.send_bt'),  //发送弹幕按钮
		sendFlag = true,
		videoPause = true,
	    pause = true;  //弹幕暂停 flag


	$('#input_dm').bind('keyup', function (e) {   //回车发送弹幕
		if (e.keyCode == '13') {
			if (sendFlag)
				$sendBt.click();
		}
	})

	
	

	$sendBt.bind('click', function () {  //点击按钮发送弹幕
		if (sendFlag) {
			let danmu = $('#input_dm').val();
			$('#input_dm').val('');
			let span = document.createElement('span'),
				flag = true;  //保证用户多次点击
				span.className = 'user';
			if (flag) {
				flag = false;
				Ajax({
					url: '/play/dm',
					method: 'post',
					data: {
						content : danmu,
						crt_time : time_format(video.currentTime.toFixed(0)),
						type : 'random',
						color : '#fff',
						size : '1'
					},
					success: function (params) {
						let data = JSON.parse(params);
						if (data.err) {  //发送失败
							console.log(data.info)
						} else {
							span.innerHTML = danmu;
							sendDm(span);
						}
						flag = true;
					},
					error: function (err) {
						console.log(err);
						flag = true;
					}
				})
			}
			wait();  //等五秒后才能发送
		}
	})

	//暂停 继续 测试功能
	$('.ban_dm').click (con_pause)
	
	function con_pause () {  //暂停或者 继续
		if (!pause) {
			video_pause();
		} else {
			video_con();
		}
	}

	
	function video_con () {  // 视频继续
		pause = false;
		let spanArr = $danmuScreen[0].querySelectorAll('span');
		// console.log(spanArr[0].timer());
		if (vpl_flag) {  // 监听 视频当前播放
			video_progress_listener();
			vpl_flag = false;
		}
		// 弹幕 滚动
		for (let i = 0; i <= spanArr.length - 1; i++) {
			console.log(spanArr[i])
			spanArr[i].timer();
		}
	}

	
	function video_pause () {  //视频暂停API
		pause = true;
		vpl_flag = true;
	}
	
	

	function sendDm (dm_ele) {  //发送弹幕
		let This = dm_ele;
		$danmuScreen[0].appendChild(This);
		let  $dm = $(This);
		This.width = $dm.width();
		This.left = screenW + 5;
		// 保证每一个弹幕从开始到尾部离开屏幕的时间一样  越长的弹幕速度越快
		This.speed = (This.width + screenW)/6500 * 13;
		$dm.css({
			'left' : This.left,
			'top' : Math.random() * beaginH
		})
		This.clear = false;
		This.timer = function () {
			setTimeout(function () {
				if (!pause) {
					if (This.clear) {  // 是否到达了 需要清除弹幕的时候
						This.timer = null;
						This.parentNode.removeChild(This);
					} else {
						This.left -= This.speed;
						$dm.css({'left' :  This.left});
						if (This.left < (This.width + 6 ) * -1)
							This.clear = true;
						This.timer();
					}
				}
			},13)
		}
		This.timer();
	}

	//加载弹幕

	// 等待五秒钟才能发弹幕
	function wait (i) {
		let num;
		if (arguments.length === 0) {
			num = 0;
		} else {
			num = i;
		}
		if (num === 0) {
			sendFlag = false;
			$sendBt.addClass('ban');
			$sendBt.html('5s');
		}
		if (num < 5) {
			num ++;
			setTimeout( function(){
				$sendBt.html( (5-num) +'s')
				wait(num);
			},1000)
		} else {
			sendFlag = true;
			$sendBt.removeClass('ban');
			$sendBt.html('发送');
		}
	}

	
	function dm_load (arr) {  //加载弹幕 存放在传入的 arr里面并刷新弹幕列表
		Ajax({
			url : './play/get_dm',
			method : 'post',
			success : function (data) {
				let dm = JSON.parse(data);
				console.log(dm);
				for(var key in dm) {
					console.log(key)
				}
			},
			error : function (params) {
				console.log('弹幕ajax加载失败错误状态-'+params.status)
			}
		})
	}

	dm_load();

	function time_format (t) {  
		//整理时间 格式 将 0:23 处理成  00:23  
		//或者可以将 秒钟数处理成 分秒格式
		if (isNaN(Number(t))) {
			var arr = t.split(':');
			console.log(Number(arr[0]) * 60 + Number(arr[1]));
			time_format(Number(arr[0])*60 + Number(arr[1]));
		} else {
			let m = parseInt(t/60),
				s = t % 60;
			if (m.toString().length === 1)
				m = '0' + m;
			if (s.toString().length === 1) 
				s = '0' + s;
			return (m + ':' + s);			
		};
	}


	console.log(getCookie('login'))

	var vpl_flag = true;  //监听 视频播放定时器flag （防止多个定时器）

	function video_progress_listener (e) {  //监听视频当前播放时间定时器
		if (!pause) {  
			setTimeout(() => {
				console.log(video.currentTime.toFixed(0));
				video_progress_listener();
			}, 1000);
		}
	}

	// video  绑定事件
	video.onprogress = function (e) {  //
			// console.log(e)
	}
	video.onpause = video_pause;
	video.onplay = video_con;
</script>