<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>要优雅~</title>
    <link rel="shortcut icon" href="./img/favicon.ico">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/general.css">
    <link rel="stylesheet" href="./css/main_body.css">
    <link rel="stylesheet" href="./css/iconfont.css">
    <link rel="stylesheet" href="./css/animate.css">
</head>
<body>
<script src="./js/jqq.js"></script>

<header >
    <% var randomNumber = Math.ceil(Math.random()*5); %>

    <div id="h_bg" style="background: url('./img/background/bc<%= randomNumber %>.jpg')"></div>
    <div class="mask"></div>
    <div id="h_content">
        <div class="l">
            <div class="pic">
                <img src="./img/heimao1.png" alt="要优雅" title="不要优雅，要污!ε=ε=(ノ≧∇≦)ノ">
            </div>
            <div id="logo">
                <img src="./img/logo.png" alt="">
            </div>
        </div>
        <div class="r">
            <ul class="nav clearfix">
                <li>
                    <a href="/main">主页</a>
                    <div class="bar"></div>
                </li>
                <li class="current">
                    <a href="/techo">科技</a>
                    <div class="bar"></div>
                </li>
                <li>
                    <a href="##">动漫</a>
                    <div class="bar"></div>
                </li>
                <li class="n-margin-r">
                    <a href="##">音乐</a>
                    <div class="bar"></div>
                </li>
            </ul>

            <!-- 登录板块，登录：yes，未登录 no -->
    
        <% if (locals.status) { %>
        <div class="login_sec yes">
        <% } else { %>
        <div class="login_sec no">
        <% } %>
        
            <span>
                <a href="./login">登陆</a>
            </span>
            <span>|</span>
            <span>
                <a href="./reg">注册</a>
            </span>
            <li class="user">
                <a href="##">
                    <div class="i_face">
                        <img src="./img/user_img/<%- locals.tx %>">
                    </div>
                </a>
                <div class="profile">
                    <b class="name"><%- locals.name %></b>
                    <div class="user_status">
                        <div class="l ">
                            <span>身份：</span>
                            <span class="status"><%- locals.status %></span>
                        </div>
                        <div class="r ">
                            <span>权限等级：</span>
                            <span class="rights_level">Lv<%- locals.admin %></span>
                        </div>
                    </div>
                    <div class="lv_con">
                        <span>等级：</span>
                        <em>Lv9</em>
                        <div class="lv_bar">
                            <div class="process"></div>
                            <span class="exp">888/999</span>
                        </div>
                    </div>
                    <div class="selection">
                        <a href="./userInfoModify">修改资料</a>
                    </div>
                    <div class="footer">
                        <a href="./logout">退出</a>
                    </div>
                </div>
            </li>
        </div>
        </div>
        </div>
    </div>
</header>
<section id="main_bg">
    <% for(var i = 1; i <= 5; i++ ) { %>
        <% if(i == randomNumber) { %>
            <div class="bg show"></div>
        <% } else { %>
            <div class="bg"></div>
        <% } %>
    <% } %>    
    <!-- <div id="randomBg2" class="bg"></div>
    <div id="randomBg3" class="bg"></div>
    <div id="randomBg4" class="bg"></div>
    <div id="randomBg5" class="bg"></div> -->


    <div class="main">

        <video id="hotVideo" src="./video/wanderers.mp4" controls="controls" width="700" height="360" autoplay="autoplay">
            你的浏览器不支持 video 标签，这会导致很严重的问题，所以请升级你的浏览器，官方建议你使用谷歌浏览器或者QQ浏览器急速模式
        </video>
        
        <p title="Wanderers a short film by Erik Wernquist - 漂泊者 ">Wanderers a short film by Erik Wernquist - 漂泊者 </p>
    </div>
</section>
<!-- <section id="blank"></section> -->
<section id="main">
    <div class="main clearfix">
        <div class="l">
            <!-- <div class="breadcrumb">
                <a href="##" class="main_page"><i class="icon iconfont icon-home"></i>主页</a>
                <a class="cha">></a>
                <a href="##" class="technology"><i class="icon iconfont icon-keji1"></i>科技</a>
            </div> -->
            <% for (var i = 0; i < locals.articles.length; i++) { %>
                <article>
                    <div class="dateCon">
                        <span class="month"><%- (new Date(locals.articles[i].a_date)).getMonth() + 1  %>月</span>
                        <span class="day"><%- (new Date(locals.articles[i].a_date)).getDate() %></span>
                    </div>
                    <div class="title_con">
                        <h1>
                            <a href="##"> <%- locals.articles[i].a_title %> </a>
                        </h1>
                        <div class="tag_article">
                                <span class="label">
                                    <i class="icon iconfont icon-date"></i>
                                    <% var time = new Date(locals.articles[i].a_date)   %>
                                    <%- time.getFullYear() + '-' + (time.getMonth() + 1) + '-' + time.getDate()  %>
                                </span>
                            <span class="label">
                                <i class="icon iconfont icon-biaoqian"></i>
                                <%- locals.articles[i].a_tags %>
                            </span>
                            <span class="label">
                                <i class="icon iconfont icon-author"></i>
                                <%- locals.articles[i].user_name %>
                            </span>
                            <span class="label">
                                <i class="icon iconfont icon-eye"></i>
                                <%- locals.articles[i].a_views %>
                            </span>
                        </div>
                    </div>
                    <div class="cover">
                        <a href="##">
                            <div class="mask"></div>
                            <img src = <%- './img/' +  locals.articles[i].a_cover %>  alt="">
                        </a>
                    </div>
                    <div class="desc">
                        <p>
                            <%= locals.articles[i].a_desc %>
                        </p>
                    </div>
                    <div class="con clearfix">
                        <% var str = '/play?source=' + locals.articles[i].a_id; %>
                        <a href= <%- str %>  class="btn play_online">在线观看</a>
                    </div>
                </article>
            <% } %>
            
            <div id="pages" class="clearfix">
                <ul id="pageUl" class="pagination clearfix">
                    
                    
                    <!-- 翻页  -->
                    <% let currentPage = locals.page; %>
                    <% let totalPage = Math.ceil(locals.totalArticles.length / 4); %>
                    <% if (totalPage <= 5) { %> <!-- 小于5页 -->
                        <% for (let i = 1; i <= totalPage; i++) { %>
                            <% if (currentPage == i ) { %>
                                <li class="clearfix current"><a href="?page=<%- i %>"><%- i %></a></li>
                            <% } else { %>
                                <li class="clearfix"><a href="?page=<%- i %>"><%- i %></a></li>
                            <% } %>
                        <% } %>
                    <% } else { %> <!-- 大于5页：判断两种情况 ，左靠，右靠 -->
                        <!-- 左面 -->
                        <% if (currentPage - 3 <= 1) { %> <!-- 左靠 -->
                            <% for (let i = 1; i <= currentPage - 1; i++) { %>
                                <li class="clearfix"><a href="?page=<%- i %>"><%- i %></a></li>
                            <% } %>
                        <% } else { %> <!-- 未左靠 -->
                            <li class="clearfix"><a href="?page=1">1</a></li>
                            <li class="dots">...</li>
                            <% for (let i = currentPage - 2; i <= currentPage - 1; i++) { %>
                                <li class="clearfix"><a href="?page=<%- i %>"><%- i %></a></li>
                            <% } %>
                        <% } %>  
                        <!-- 当前页 -->
                        <li class="clearfix current"><a href="?page=<%- currentPage %>"><%- currentPage %></a></li>
                        <!-- 右面 -->
                        <% if (Math.abs(currentPage - totalPage) <= 3) { %> <!-- 右靠 -->
                            <% for (let i = currentPage + 1; i <= totalPage; i++) { %>
                                <li class="clearfix"><a href="?page=<%- i %>"><%- i %></a></li>
                            <% } %>
                        <% } else { %> <!-- 未右靠 -->
                            <% for (let i = currentPage + 1; i <= currentPage + 2; i++) { %>
                                <li class="clearfix"><a href="?page=<%- i %>"><%- i %></a></li>
                            <% } %>
                            <li class="dots">...</li>
                            <li class="clearfix"><a href="?page=<%- totalPage %>"><%- totalPage %></a></li>
                        <% } %>
                    <% } %>


                    
                    

                    <!-- <li class="clearfix current"><a href="/page=1">1</a></li>
                    <li class="clearfix"><a href="##">2</a></li>
                    <li class="clearfix"><a href="##">3</a></li>
                    <li class="dots">...</li>
                    <li class="clearfix"><a href="##">4</a></li> -->
                    
                    
                    
                    
                </ul>
            </div>
        </div>
        <div class="r">
            <div id="search">
                <input type="text" placeholder="搜索..."  />
                <div class="search_btn "><i class="icon iconfont icon-search animated"></i></div>
            </div>
                <!-- 登录状态下  login  -->
                <% if(!locals.status) { %>   
                    <div id="login_con" >  
                        <div class="heading">(｡･ω･｡) 请登录</div>
                <% } else { %>
                    <div id="login_con" class="login">
                        <div class="heading">(｡･ω･｡) 欢迎 <%- locals.userName %></div> 
                <% } %>
            
                <form>
                    <div class="form_group">
                        <div class="icon clearfix">
                            <i class="icon iconfont icon-account"></i>
                        </div>
                        <input id="userName" type="text" />
                    </div>
                    <div class="form_group">
                        <div class="icon clearfix">
                            <i class="icon iconfont icon-mima"></i>
                        </div>
                        <input id="passWord" type="password" />
                    </div>
                    <!-- 错误信息 show 出现 -->
                    <div class="errmsg clearfix">
                        <span></span>
                    </div>
                    <input type="button" id="loginBtn" class="login btn" value="登录">
                    <a href="./reg" class="btn reg">注册</a>
                </form>
                <div class="login">
                    <div class="img">
                        <img src="./img/user_img/<%- locals.tx %>" />
                    </div>
                    <!-- <div class="logout"><a href="./logout">退出登录</a></div> -->
                    <div class="r">
                        <div class="charge">充值</div>
                        <div class="b">
                            <span class="leftMoney">余额：<b>0</b></span>
                            <span class="record"><a href="##">消费记录</a></span>
                        </div>
                    </div>

                </div>
            </div>
            <aside id="latest_posts">
                <div class="h clearfix">
                    <div class="l">
                        <i class="icon iconfont icon-icon "></i>
                        <span>更新文章</span>
                    </div>
                    <div class="r">
                        <div class="btn">
                            <i class="btn icon iconfont icon-cion24"></i>
                        </div>
                        <!-- <div class="btn">
                            <i class="btn icon iconfont icon-close"></i>
                        </div> -->
                    </div>
                </div>
                <ul class="list_group">
                    
                    <% for (let i = 0; i < locals.totalArticles.length; i++) { %>
                        
                        <li class="list_item">
                            <span class="t">
                                <a href="/play?source=<%- locals.totalArticles[i]['a_id'] %>"> <%- locals.totalArticles[i]['a_title'] %> </a>
                            </span>
                            <span class="badge"><%- locals.totalArticles[i]['a_views'] %></span>
                        </li>
                    
                    <% } %>


                </ul>
            </aside>
        </div>
    </div>
</section>
<footer>
    要优雅~ (゜-゜)つロ 干杯~   powered by <a href="##">要优雅</a>
</footer>
</body>
</html>
<script src="./js/emergency_msg.js"></script>
<script>
    var high_version = null;
    window.onload = function () {
        if (!high_version) {
            showMsg({
                msg : '你的浏览器不兼容当前网页，请使用新版本浏览器',
                status : 'err',
                link : 'https://browser.360.cn/ee/',
                delay : 9999999,
                detail : '点击此处跳转至360极速浏览器下载界面'
            })
        }
    }
</script>
<script></script>
<script>


    var $userName = $('#userName'),
        $passWord = $('#passWord'),
        $loginBtn = $('#loginBtn'),  //登录按钮
        $errMsg = $('.errmsg'),  //登录错误信息框  show: 出现

        high_version = true,

        $search = $('#search'),  //搜索框
        $search_icon = $('#search i.icon'),  //搜索框下面的icon 
         
        $h_bg = $('#h_bg'),  //头部的两张图片
        $t_bg = $('#main_bg'),

        // 几张预加载的随机图片
        $bgs = $('#main_bg .bg'),
        bgNum = 1,  //背景图片从1 开始  

        $sidePosts = $('#latest_posts'),
        
        //充值
        $chargeBtn = $('#login_con > div.login > div.r > div.charge') ,
        $consumeRecord = $('#login_con > div.login > div.r > div.b > span.record > a'); //消费记录;


    
    //  顶部背景变换

    var timer = setInterval(changeBg,10000);  //自动切换背景计时器

    function changeBg () {
        if (bgNum <= 5) {
        } else {
            bgNum = 1;
        }
        $h_bg[0].style = 'background: url("./img/background/bc'+ bgNum +'.jpg") no-repeat 50% top'
        $bgs.eq(bgNum-1).addClass('show').siblings().removeClass('show');

        console.log(bgNum)
        
        bgNum++;

    }

    //搜索icon 动画
    $search.bind('mouseover',() => {
        $search_icon.addClass("rubberBand");
    }).bind('mouseleave',() => {
        $search_icon.removeClass("rubberBand");
    })


    //右侧边框跟随滚动条自动移动，这个402 我也不知道是什么
    
    var sideTop = 1230;
    var winHeight;
    if (window.innerHeight)
        winHeight = window.innerHeight;
    else if ((document.body) && (document.body.clientHeight))
        winHeight = document.body.clientHeight;
    var halfTop = (winHeight - parseInt($sidePosts.getStyle('height'))) / 2;
    if (halfTop < 0) halfTop = 0 ; 
    var limitHeight = sideTop - halfTop;



    window.onscroll = function (params) {
        var top = document.body.scrollTop || document.documentElement.scrollTop;  //页面高度
        var realTop = top + winHeight;  //距离最顶部的高度

        if (top + halfTop + 402 > sideTop) {
            $sidePosts.addClass('fixed');
            $sidePosts.css('top',halfTop)
        } else {
            $sidePosts.removeClass('fixed');
            $sidePosts.css('top',0)
        }


    }


    //登录
    $loginBtn.click(function () {
        Ajax({
            url : './techo/login',
            method : 'post',
            data : {
                userName : $userName.val(),
                passWord : $passWord.val()
            },
            success : function (params) {
                $errMsg.addClass('show');
                $errMsg.html('请等待...')
                let data = null;
                if (params) 
                    data = JSON.parse(params);
                if (data) {
                    $errMsg.html(data.info);
                    if (data.success) {
                        self.location = './techo';
                    }
                }
            }, 
            error : function (info) {
                console.log(info)
            }
        })
    })



    // 充值功能

    $chargeBtn.click (function () {
        showMsg({
            status : 'err',
            msg : '对不起，此功能暂未开放',
            delay : 2500,
            detail : '充值功能暂未开放，请过一段时间再试'
        })
    })


    $consumeRecord.click (function () {
        showMsg({
            status : 'err',
            msg : '对不起，此功能暂未开放',
            delay : 2500,
            detail : '消费记录功能暂未开放，请过一段时间再试'
        })
    })


    // // 这里做了一个防止视频重复自动加载的功能
    // var $hotVideo = $('#hotVideo');
    // $hotVideo[0].onload = function () {
    //     alert('onload')
    //     $hotVideo[0].setAttribute("autoplay",'none')
    // }


</script>