<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>要优雅~</title>
    <link rel="shortcut icon" href="./img/favicon.ico">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/general.css">
    <link rel="stylesheet" href="./css/main_body.css">
    <link rel="stylesheet" href="./css/iconfont.css">
    <link rel="stylesheet" href="./css/animate.css">
</head>
<body>
    
<header>
    <div id="h_bg"></div>
    <div class="mask"></div>
    <div id="h_content">
        <div class="l">
            <div class="pic">
                <img src="./img/heimao1.png" alt="要优雅" title="不要优雅，要污!ε=ε=(ノ≧∇≦)ノ">
            </div>
            <div id="logo">
                <img src="./img/logo.png" alt="">
            </div>
        </div>
        <div class="r">
            <ul class="nav clearfix">
                <li>
                    <a href="/main">main</a>
                    <div class="bar"></div>
                </li>
                <li class="current">
                    <a href="/techo">technology</a>
                    <div class="bar"></div>
                </li>
                <li>
                    <a href="##">anime</a>
                    <div class="bar"></div>
                </li>
                <li class="n-margin-r">
                    <a href="##">music</a>
                    <div class="bar"></div>
                </li>
            </ul>
            <!-- 登录板块，登录：yes，未登录 no -->
    <% if (locals.login) { %>
        <% if (locals.login.status) { %>
        <div class="login_sec yes">
        <% } else { %>
        <div class="login_sec no">
        <% } %>
        <% } else { %>
        <div class="login_sec no">
        <% } %>
            <span>
                <a href="./login">login</a>
            </span>
            <span>|</span>
            <span>
                <a href="./reg">register</a>
            </span>
            <li class="user">
                <% if (locals.login) {  %>
                <a href="##">
                    <div class="i_face">
                        <img src="./img/<%- locals.login.tx %>">
                    </div>
                </a>
                <div class="profile">
                    <b class="name"><%- locals.login.name %></b>
                    <div class="user_status">
                        <div class="l ">
                            <span>身份：</span>
                            <span class="status"><%- locals.login.status %></span>
                        </div>
                        <div class="r ">
                            <span>权限等级：</span>
                            <span class="rights_level">Lv<%- locals.login.admin %></span>
                        </div>
                    </div>
                    <div class="lv_con">
                        <span>等级：</span>
                        <em>Lv9</em>
                        <div class="lv_bar">
                            <div class="process"></div>
                            <span class="exp">888/999</span>
                        </div>
                    </div>
                    <div class="selection">
                        <a href="##">修改资料</a>
                    </div>
                    <div class="footer">
                        <a href="./logout">退出</a>
                    </div>
                </div>
                <% } %>
            </li>
        </div>
        </div>
        </div>
    </div>
</header>
<section id="main_bg">
    <div class="main">
        <video src="./video/wanderers.mp4"  controls="controls" width="700" height="360"></video>
        <p title="Wanderers a short film by Erik Wernquist - 漂泊者 ">Wanderers a short film by Erik Wernquist - 漂泊者 </p>
    </div>
</section>
<section id="blank"></section>
<section id="main">
    <div class="main clearfix">
        <div class="l">
            <div class="breadcrumb">
                <a href="##" class="main_page"><i class="icon iconfont icon-home"></i>主页</a>
                <a class="cha">></a>
                <a href="##" class="technology"><i class="icon iconfont icon-keji1"></i>科技</a>
            </div>
            <% for (var i = 0; i < locals.articles.length; i++) { %>
                <article>
                    <div class="dateCon">
                        <span class="month"><%- (new Date(locals.articles[i].a_date)).getMonth() + 1  %>月</span>
                        <span class="day"><%- (new Date(locals.articles[i].a_date)).getDay() %></span>
                    </div>
                    <div class="title_con">
                        <h1>
                            <a href="##"> <%- locals.articles[i].a_title %> </a>
                        </h1>
                        <div class="tag_article">
                                <span class="label">
                                    <i class="icon iconfont icon-date"></i>
                                    <% var time = new Date(locals.articles[i].a_date)   %>
                                    <%- time.getFullYear() + '-' + time.getMonth() + '-' + time.getDay()  %>
                                </span>
                            <span class="label">
                                <i class="icon iconfont icon-biaoqian"></i>
                                <%- locals.articles[i].a_tags %>
                            </span>
                            <span class="label">
                                <i class="icon iconfont icon-author"></i>
                                <%- locals.articles[i].user_name %>
                            </span>
                            <span class="label">
                                <i class="icon iconfont icon-eye"></i>
                                <%- locals.articles[i].a_views %>
                            </span>
                        </div>
                    </div>
                    <div class="cover">
                        <a href="##">
                            <div class="mask"></div>
                            <img src = <%- './img/' +  locals.articles[i].a_cover %>  alt="">
                        </a>
                    </div>
                    <div class="desc">
                        <p>
                            <%= locals.articles[i].a_desc %>
                        </p>
                    </div>
                    <div class="con clearfix">
                        <% var str = '/play?source=' + locals.articles[i].a_id; %>
                        <a href= <%- str %>  class="btn play_online">在线观看</a>
                    </div>
                </article>
            <% } %>
            
            
            <div id="pages" class="clearfix">
                <ul class="pagination clearfix">
                    <li class="clearfix current"><a href="##">1</a></li>
                    <li class="clearfix"><a href="##">2</a></li>
                    <li class="clearfix"><a href="##">3</a></li>
                    <li class="dots">...</li>
                    <li class="clearfix"><a href="##">4</a></li>
                </ul>
            </div>
        </div>
        <div class="r">
            <div id="search">
                <input type="text" placeholder="搜索..."  />
                <div class="search_btn "><i class="icon iconfont icon-search animated"></i></div>
            </div>
                <!-- 登录状态下  login  -->
            <% if(locals.login) {  %>
                <% if(!locals.login.status) { %>   
                    <div id="login_con" >  
                        <div class="heading">(｡･ω･｡) 请登录</div>
                <% } else { %>
                    <div id="login_con" class="login">
                        <div class="heading">(｡･ω･｡) 欢迎 <%- locals.login.userName %></div> 
                <% } %>
            <% } else { %>
                <div id="login_con">
                    <div class="heading">(｡･ω･｡) 请登录</div>
            <% } %>
                <form>
                    <div class="form_group">
                        <div class="icon clearfix">
                            <i class="icon iconfont icon-account"></i>
                        </div>
                        <input id="userName" type="text" />
                    </div>
                    <div class="form_group">
                        <div class="icon clearfix">
                            <i class="icon iconfont icon-mima"></i>
                        </div>
                        <input id="passWord" type="password" />
                    </div>
                    <!-- 错误信息 show 出现 -->
                    <div class="errmsg clearfix">
                        <span></span>
                    </div>
                    <input type="button" id="loginBtn" class="login btn" value="登录">
                    <a href="./reg" class="btn reg">注册</a>
                </form>
                <div class="login">
                    <div class="img">
                        <% if (locals.login) { %>
                            
                            <img src="./img/<%- locals.login.tx %>" />
                            
                        <% } %>
                    </div>
                    <div class="logout"><a href="./logout">退出登录</a></div>
                </div>
            </div>
            <aside id="latest_posts">
                <div class="h clearfix">
                    <div class="l">
                        <i class="icon iconfont icon-icon "></i>
                        <span>更新文章</span>
                    </div>
                    <div class="r">
                        <div class="btn">
                            <i class="btn icon iconfont icon-cion24"></i>
                        </div>
                        <!-- <div class="btn">
                            <i class="btn icon iconfont icon-close"></i>
                        </div> -->
                    </div>
                </div>
                <ul class="list_group">
                    <li class="list_item">
							<span class="t">
								<a href="##"> [VCB-Studio 科普教程 1.4] 在 macOS 上使用 IINA 播放器 </a>
							</span>
                        <span class="badge">51</span>
                    </li>
                    <li class="list_item">
							<span class="t">
								<a href="##"> [VCB-Studio 科普教程 1.4] 在 macOS 上使用 IINA 播放器 </a>
							</span>
                        <span class="badge">51</span>
                    </li>
                    <li class="list_item">
							<span class="t">
								<a href="##"> [VCB-Studio 科普教程 1.4] 在 macOS 上使用 IINA 播放器 </a>
							</span>
                        <span class="badge">51</span>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</section>
<footer>
    要优雅~ (゜-゜)つロ 干杯~   powered by <a href="##">要优雅</a>
</footer>
</body>
</html>
<script src="./js/jqq.js"></script>
<script></script>
<script>

    let $userName = $('#userName'),
        $passWord = $('#passWord'),
        $loginBtn = $('#loginBtn'),  //登录按钮
        $errMsg = $('.errmsg'),  //登录错误信息框  show: 出现

        $search = $('#search'),  //搜索框
        $search_icon = $('#search i.icon');  //搜索框下面的icon 
        
    //搜索icon 动画
    $search.bind('mouseover',() => {
        $search_icon.addClass("rubberBand");
    }).bind('mouseleave',() => {
        $search_icon.removeClass("rubberBand");
    })

    //登录
    $loginBtn.click(function () {
        Ajax({
            url : './techo/login',
            method : 'post',
            data : {
                userName : $userName.val(),
                passWord : $passWord.val()
            },
            success : function (params) {
                $errMsg.addClass('show');
                $errMsg.html('请等待...')
                let data = null;
                if (params) 
                    data = JSON.parse(params);
                if (data) {
                    $errMsg.html(data.info);
                    if (data.success) {
                        self.location = './techo';
                    }
                }
            }, 
            error : function (info) {
                console.log(info)
            }
        })
    })
</script>